body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: gray;
}

button {
    padding: 8px;
    cursor: pointer;
}
